<a href="https://colab.research.google.com/github/JoRo79/internship-pre-task/blob/main/Data_Engineering_Intern_Trial_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pycoingecko

Collecting pycoingecko
  Downloading https://files.pythonhosted.org/packages/3a/f9/bfda8a54a1a98983bed91b3b865dcbcefe1590f4d444b3f1e118d541d639/pycoingecko-2.1.0-py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2020.12.5)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.1.0

In [ ]:
from pycoingecko import CoinGeckoAPI 
import pandas as pd
cg = CoinGeckoAPI()

In [ ]:
USDPRICE = cg.get_price(ids='ethereum', vs_currencies='usd')
BTCPRICE = cg.get_price(ids='ethereum', vs_currencies='btc')

In [ ]:
print(USDPRICE)
print(BTCPRICE)

{'ethereum': {'usd': 2692.0}}
{'ethereum': {'btc': 0.07465931}}

In [ ]:
cg.get_price(ids=['ethereum'], vs_currencies='usd')

{'ethereum': {'usd': 2692.0}}

In [ ]:
cg.get_price(ids='ethereum', vs_currencies='usd', include_market_cap='true', include_24hr_vol='true', include_24hr_change='true', include_last_updated_at='true')

{'ethereum': {'last_updated_at': 1622965652,
  'usd': 2692.0,
  'usd_24h_change': -3.9920213008101926,
  'usd_24h_vol': 35621046872.4239,
  'usd_market_cap': 311664558670.2101}}

In [ ]:
coins = cg.get_coin_market_chart_by_id(id='ethereum',vs_currency='usd',days='1')
duit = cg.get_coin_market_chart_by_id(id='ethereum',vs_currency='btc',days='1')

In [ ]:
data= pd.DataFrame(coins, columns=['prices'])
data= data.tail(10)

datax= pd.DataFrame(duit, columns=['prices'])
datax= datax.tail(10)
data= data.reset_index()
datax= datax.reset_index()

In [ ]:
datax['prices']= datax['prices'].apply(str)
datax['timestamp']= datax['prices'].str.split(',').str[0]
datax['timestamp'] = datax['timestamp'].replace({'\[':''},regex=True)
y=datax['timestamp']
y

0    1622963059036
1    1622963346928
2    1622963633517
3    1622963990611
4    1622964279724
5    1622964574471
6    1622964756333
7    1622965171078
8    1622965494565
9    1622965652000
Name: timestamp, dtype: object

In [ ]:
import datetime
y= y.apply(int)
time=[]

for i in range(0,10,1):
  ts= datetime.datetime.fromtimestamp(y[i]/1000)
  datap= ts.strftime('%Y-%m-%d %H:%M:%S')
  time.append(datap)
  print(datap)

2021-06-06 07:04:19
2021-06-06 07:09:06
2021-06-06 07:13:53
2021-06-06 07:19:50
2021-06-06 07:24:39
2021-06-06 07:29:34
2021-06-06 07:32:36
2021-06-06 07:39:31
2021-06-06 07:44:54
2021-06-06 07:47:32

In [ ]:
timepo= pd.DataFrame(time, columns=['Timestamp'])
timepo

             Timestamp
0  2021-06-06 07:04:19
1  2021-06-06 07:09:06
2  2021-06-06 07:13:53
3  2021-06-06 07:19:50
4  2021-06-06 07:24:39
5  2021-06-06 07:29:34
6  2021-06-06 07:32:36
7  2021-06-06 07:39:31
8  2021-06-06 07:44:54
9  2021-06-06 07:47:32

In [ ]:
test= pd.concat([data,datax,timepo],axis=1)
test= test.drop(['index','timestamp'],axis=1)

table= pd.DataFrame(test)
table.columns.values[0]="usd"
table.columns.values[1]="BTC"
table.columns.values[2]="updated_at"
table

                                   usd  ...           updated_at
0  [1622963059036, 2672.7364908758873]  ...  2021-06-06 07:04:19
1  [1622963346928, 2672.9044537316945]  ...  2021-06-06 07:09:06
2  [1622963633517, 2672.2875812399407]  ...  2021-06-06 07:13:53
3   [1622963990611, 2674.747641220151]  ...  2021-06-06 07:19:50
4   [1622964279724, 2680.125708041162]  ...  2021-06-06 07:24:39
5   [1622964574471, 2679.616955440459]  ...  2021-06-06 07:29:34
6  [1622964756333, 2676.8415023133784]  ...  2021-06-06 07:32:36
7   [1622965171078, 2682.669672796767]  ...  2021-06-06 07:39:31
8   [1622965494565, 2691.720393434195]  ...  2021-06-06 07:44:54
9  [1622965652000, 2692.0011822445886]  ...  2021-06-06 07:47:32

[10 rows x 3 columns]

In [ ]:
table['usd']= table['usd'].apply(str)
table['usd'] = table['usd'].str.split(',').str[1]
table['usd'] = table['usd'].replace({']':''},regex=True)
table

                   usd  ...           updated_at
0   2672.7364908758873  ...  2021-06-06 07:04:19
1   2672.9044537316945  ...  2021-06-06 07:09:06
2   2672.2875812399407  ...  2021-06-06 07:13:53
3    2674.747641220151  ...  2021-06-06 07:19:50
4    2680.125708041162  ...  2021-06-06 07:24:39
5    2679.616955440459  ...  2021-06-06 07:29:34
6   2676.8415023133784  ...  2021-06-06 07:32:36
7    2682.669672796767  ...  2021-06-06 07:39:31
8    2691.720393434195  ...  2021-06-06 07:44:54
9   2692.0011822445886  ...  2021-06-06 07:47:32

[10 rows x 3 columns]

In [ ]:
table['BTC']= table['BTC'].apply(str)
table['BTC'] = table['BTC'].str.split(',').str[1]
table['BTC'] = table['BTC'].replace({']':''},regex=True)

table

                   usd                   BTC           updated_at
0   2672.7364908758873   0.07438582685502856  2021-06-06 07:04:19
1   2672.9044537316945   0.07438958589388935  2021-06-06 07:09:06
2   2672.2875812399407   0.07440323442482273  2021-06-06 07:13:53
3    2674.747641220151   0.07442219320489707  2021-06-06 07:19:50
4    2680.125708041162   0.07456807022772072  2021-06-06 07:24:39
5    2679.616955440459   0.07454455247408764  2021-06-06 07:29:34
6   2676.8415023133784   0.07448624769555931  2021-06-06 07:32:36
7    2682.669672796767   0.07453868106845339  2021-06-06 07:39:31
8    2691.720393434195   0.07466021833367908  2021-06-06 07:44:54
9   2692.0011822445886   0.07465930899868004  2021-06-06 07:47:32

In [ ]:
table.to_csv (r'C:\Users\user\Desktop\export_dataframe.csv', index = True, header=True)