<a href="https://colab.research.google.com/github/JoRo79/internship-pre-task/blob/main/Data_Engineering_Intern_Trial_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pycoingecko

Requirement already satisfied: pycoingecko in /usr/local/lib/python3.7/dist-packages (2.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pycoingecko) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pycoingecko) (2020.12.5)

In [ ]:
from pycoingecko import CoinGeckoAPI 
import pandas as pd
cg = CoinGeckoAPI()

In [ ]:
USDPRICE = cg.get_price(ids='ethereum', vs_currencies='usd')
BTCPRICE = cg.get_price(ids='ethereum', vs_currencies='btc')

In [ ]:
print(USDPRICE)
print(BTCPRICE)

{'ethereum': {'usd': 2838.84}}
{'ethereum': {'btc': 0.0731011}}

In [ ]:
cg.get_price(ids=['ethereum'], vs_currencies='usd')

{'ethereum': {'usd': 2838.84}}

In [ ]:
cg.get_price(ids='ethereum', vs_currencies='usd', include_market_cap='true', include_24hr_vol='true', include_24hr_change='true', include_last_updated_at='true')

{'ethereum': {'last_updated_at': 1622704887,
  'usd': 2838.84,
  'usd_24h_change': 6.1166416606993,
  'usd_24h_vol': 38455961000.0001,
  'usd_market_cap': 329385737813.9505}}

In [ ]:
coins = cg.get_coin_market_chart_by_id(id='ethereum',vs_currency='usd',days='1')
duit = cg.get_coin_market_chart_by_id(id='ethereum',vs_currency='btc',days='1')

In [ ]:
data= pd.DataFrame(coins, columns=['prices'])
data= data.tail(10)

datax= pd.DataFrame(duit, columns=['prices'])
datax= datax.tail(10)
data= data.reset_index()
datax= datax.reset_index()

In [ ]:
datax['prices']= datax['prices'].apply(str)
datax['timestamp']= datax['prices'].str.split(',').str[0]
datax['timestamp'] = datax['timestamp'].replace({'\[':''},regex=True)
y=datax['timestamp']
y

0    1622697847318
1    1622698186961
2    1622698485630
3    1622698819343
4    1622699076550
5    1622699397018
6    1622699673949
7    1622699964688
8    1622700348726
9    1622700348000
Name: timestamp, dtype: object

In [ ]:
import datetime
y= y.apply(int)
time=[]

for i in range(0,10,1):
  ts= datetime.datetime.fromtimestamp(y[i]/1000)
  datap= ts.strftime('%Y-%m-%d %H:%M:%S')
  time.append(datap)
  print(datap)

2021-06-03 05:24:07
2021-06-03 05:29:46
2021-06-03 05:34:45
2021-06-03 05:40:19
2021-06-03 05:44:36
2021-06-03 05:49:57
2021-06-03 05:54:33
2021-06-03 05:59:24
2021-06-03 06:05:48
2021-06-03 06:05:48

In [ ]:
test= pd.concat([data,datax,tiempo],axis=1)
test= test.drop(['index','timestamp'],axis=1)

table= pd.DataFrame(test)
table.columns.values[0]="usd"
table.columns.values[1]="BTC"
table.columns.values[2]="updated_at"
table

                                   usd  ...           updated_at
0   [1622697571298, 2797.550523934794]  ...  2021-06-03 05:24:07
1  [1622697847318, 2799.3040047633667]  ...  2021-06-03 05:29:46
2  [1622698186961, 2793.4683849967096]  ...  2021-06-03 05:34:45
3  [1622698485630, 2786.9514768475865]  ...  2021-06-03 05:40:19
4  [1622698819343, 2793.5632736124685]  ...  2021-06-03 05:44:36
5  [1622699076550, 2810.8186485440074]  ...  2021-06-03 05:49:57
6   [1622699397018, 2826.021455318357]  ...  2021-06-03 05:54:33
7  [1622699673949, 2817.5505124298106]  ...  2021-06-03 05:59:24
8  [1622699964688, 2823.0642502755823]  ...  2021-06-03 06:05:48
9  [1622700247000, 2822.4554649931624]  ...  2021-06-03 06:05:48

[10 rows x 3 columns]

In [ ]:
table['usd']= table['usd'].apply(str)
table['usd'] = table['usd'].str.split(',').str[1]
table['usd'] = table['usd'].replace({']':''},regex=True)
table

                   usd  ...           updated_at
0    2797.550523934794  ...  2021-06-03 05:24:07
1   2799.3040047633667  ...  2021-06-03 05:29:46
2   2793.4683849967096  ...  2021-06-03 05:34:45
3   2786.9514768475865  ...  2021-06-03 05:40:19
4   2793.5632736124685  ...  2021-06-03 05:44:36
5   2810.8186485440074  ...  2021-06-03 05:49:57
6    2826.021455318357  ...  2021-06-03 05:54:33
7   2817.5505124298106  ...  2021-06-03 05:59:24
8   2823.0642502755823  ...  2021-06-03 06:05:48
9   2822.4554649931624  ...  2021-06-03 06:05:48

[10 rows x 3 columns]

In [ ]:
table['BTC']= table['BTC'].apply(str)
table['BTC'] = table['BTC'].str.split(',').str[1]
table['BTC'] = table['BTC'].replace({']':''},regex=True)

table

                   usd                   BTC           updated_at
0    2797.550523934794   0.07298829204374913  2021-06-03 05:24:07
1   2799.3040047633667   0.07285841007678646  2021-06-03 05:29:46
2   2793.4683849967096   0.07275278877914045  2021-06-03 05:34:45
3   2786.9514768475865   0.07274369827040462  2021-06-03 05:40:19
4   2793.5632736124685     0.072979304668782  2021-06-03 05:44:36
5   2810.8186485440074   0.07290064555619544  2021-06-03 05:49:57
6    2826.021455318357   0.07276473348549276  2021-06-03 05:54:33
7   2817.5505124298106   0.07275798585932564  2021-06-03 05:59:24
8   2823.0642502755823   0.07271653181372607  2021-06-03 06:05:48
9   2822.4554649931624   0.07271653181372607  2021-06-03 06:05:48

In [ ]:
crypto.to_csv (r'D:\export_dataframe.csv', index = True, header=True)